*{
    margin: 0;
}
@font-face {
    font-family:font;
    src: url("./CursedTimerUlil-Aznm.ttf");
  }
  
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #1b244a;
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    height: 600px;
    /* display: f; */
    margin-top: 40px;
}
.homeScore h1, .guestScore h1 {
    padding-bottom: 30px;
    font-weight: bold;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.homeScore, .guestScore{
    font-size: 30px;
    text-align: center;
    display: flex;
    /* border: 2px solid yellow; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.homeInput, .guestInput {
    padding: 18px;
    line-height: 150px;
    width: 200px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 100px;
    direction: rtl;
    color: #f94f6d;
    font-family: font;

}
.homeBtnScore button, .gestBtnScore button {
    line-height: 65px;
    margin-top: 20px;
     width: 65px;
     margin-left: 5px;
     font-size: 30px;
     border:3px solid #9aabd8;
     background-color: #1b244a;
     color: white;
     font-family: font;
     border-radius: 5px;

}
.homeBtnScore button:hover{
    background-color: red;
}
.gestBtnScore button:hover{
    background-color: red;
}